#
/_backup*/
/.vscode/
/*.egg-info/

#
/clone/DRUM/datasets/
/clone/DRUM/exps/
/clone/DRUM/scripts/
/clone/NeuralLP/datasets/
/clone/NeuralLP/exps/
/clone/NeuralLP/scripts/
/clone/GraIL/datasets/
/clone/GraIL/experiments/
/clone/GraIL/scripts/
/clone/NBFNet/datasets/
/clone/NBFNet/experiments/
/clone/NBFNet/scripts/

#
__pycache__/
*.pyc
*.pyo

#
/.coverage*
/debug/

#
/clone/GraIL/data/
/clone/GraIL/data
/figure/
/figure
/cache/
/cache
/logs/
/logs
/scripts/
/scripts

# Ignore Slurm and other utility scripts
*slurm*.sh
*slurm*.txt
submit_batch.py
commands.txt
